.page-title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.page-title__heading {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-left: 180px;
}

/* мобильная версия */
@media (max-width: 600px) {
  .page-title__heading {
    font-size: 25px;
    margin-left: 20px; 
  }
}