.page-title h1 {
  font-size: 32px;
  font-weight: 640;
  margin: 0 0 20px 180px;
  margin-top: 23px;
}

/* телефон */
@media (max-width: 490px) {
  .page-title h1 {
    font-size: 25px; 
    margin: 23px 20px; 
  }
}