.breadcrumbs {
  font-size: 15px;
  color: #999;
  font-weight: 400;
  max-width: 1500px;
  margin: 30px auto 5px; 
  padding: 0 180px;
  cursor: pointer;
}

.breadcrumbs__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.breadcrumbs__item {
  color: #828282;
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.breadcrumbs__item:hover {
  color: #444548;
}

.breadcrumbs__current {
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}

.breadcrumbs__separator {
  margin: 0 5px;
}

/* мобильная версия */
@media (max-width: 600px) {
  .breadcrumbs {
    padding: 0 20px; 
    font-size: 13px;
    margin: 10px auto;
  }

  .breadcrumbs__nav {
    flex-wrap: wrap;
    align-items: center; 
    justify-content: flex-start; 
    gap: 5px; 
  }

  .breadcrumbs__item,
  .breadcrumbs__separator {
    white-space: nowrap;
  }

  .breadcrumbs__current {
    flex-basis: 100%; 
    margin-top: 6px;
  }

  .breadcrumbs__separator {
    display: inline;
  }
}